

.mainWeatherCard {
    border: solid #ccc 1px;
    border-radius: 5px;
    background-color: $dark;

    h1, h3, h4, .temp {
        color: white;
    }

    h1 span {
        font-size: 3rem;
    }
    

    .temp {
        font-size: 15rem;
    }

    .icon {
        font-size: 15rem;
    }

    @media (max-width: $small) {
        
        .temp {
            font-size: 8rem;
        }

        .icon {
            font-size: 10rem;
        }
    }

    @media (max-width: $extra_small) {

        h1, h3, h4, .temp {
            font-size: 1rem;
            color: white;
        }

        h1 span {
            font-size: 2rem;
        }
        
        .temp {
            font-size: 5rem;
        }

        .icon {
            font-size: 6rem;
        }
    }
}

.mainWeatherList {

    .smallf{
        font-size: 0.7rem;
    }
}




.fa-bolt {color: mediumslateblue}
.fa-cloud-rain {color: #ccc}
.fa-cloud-showers-heavy {color: #ccc}
.fa-snowflake {color: skyblue}
.fa-smog {color: #ccc}
.fa-wind {color: skyblue}
.fa-sun {color: moccasin;}
.fa-cloud {color: #ccc}